<footer class="text-center footer-basic" id="footer"
    style="font-family: Roboto, sans-serif;margin-top: 75px;width: 100%;height: 202px;font-size: 6px;">
    <div class="social" style="height: 51px;"><a href="https://www.instagram.com/?hl=es-la"><i class="icon ion-social-instagram"></i></a>
    <a href="https://accounts.snapchat.com/accounts/login?continue=https%3A%2F%2Faccounts.snapchat.com%2Faccounts%2Fwelcome"><i
                class="icon ion-social-snapchat"></i></a><a href="https://twitter.com/?lang=es"><i class="icon ion-social-twitter"></i></a><a
            href="https://es-la.facebook.com/" style="max-width: 100%;"><i class="icon ion-social-facebook"></i></a></div>
    <ul class="list-inline" style="font-size: 15px;">
        <li class="list-inline-item"><a href="/">Home</a></li>
        <li class="list-inline-item"><a href="#">Services</a></li>
        <li class="list-inline-item"><a href="#">About</a></li>
        <li class="list-inline-item"><a href="#">Terms</a></li>
        <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
    </ul>
    <p class="text-body copyright">Vegapp © 2021</p>
</footer>