*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


#img-logo{
  width: 50px;
  height: 50px;
  border-radius: 160px;
} 



h1{
  display: inline-block;
  position: relative;
    color: #758d4f; /*color texto*/
  
}

h1::after,h1::before{
  content: "";
  position: absolute;
  width: 120px;
  height: 3px;
  background-color:currentColor;
  top: 0.6em;
  transform: scale(0);
  transition: all 0.2s ease-in;
  }
h1:hover::before, h1:hover::after{
  transform: scale(1);
}

h1::before{

  left: -140px;

}
h1::after{
  right: -140px;
  
}


p{
    margin: 10px;
    font-size: 20px;
    font-weight: 300px;
    margin-top: 20px;
    

}
.image{
    width: 600px;
    float: right;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 30px;
    margin-bottom: 15px;
    display:flex;
    justify-content: center;

}

/*
header{
    width: 150px;
    background-size: cover;
    background-repeat: no-repeat;
}*/
/*section {
  max-width: 1000px;
  margin: auto;
  padding: 30px 0;
}*/
/*
.conte {
  text-align: center;
}
.conte p {
  font-size: 60px;
  font-weight: bold;
  margin: 1em 0;
}
  body{
    background-color: #eee;
    font-family: 'Open Sans', sans-serif;
  }*/
  
  
  .container{
    width: 90%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    margin-bottom: 3em;
    
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
  }
  
.botoninicio{
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  justify-content: space-between;
}




/*
#publicarinicio{
  display: flex;
  justify-content: flex-start;
  padding: 5px 50px; /*espacio alrededor texto
  color: #758d4f; /*color texto
  text-decoration: none; /*decoración texto
  border-radius: 10px; /*bordes redondos
  font-style: italic; /* estilo de fuente
  justify-content: flex-end;


}*/

/*boton arriba*/
.go-top-Container{
  
  position: fixed;
  bottom: 4rem;
  right: 4rem;
  width: 6.6rem;
  height: 6.6rem;
  z-index: -1;
  text-align: center;
  
    
}



.go-top.button{
  width: 0rem;
  height: 0rem;
  background:#758e4f;
  border-radius: 50%;
  cursor: pointer;
  transition: .2s;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;



}

.go-top.button i{
  position: absolute;
  font-size: 1.7rem;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: blanchedalmond;
  transition: .2s ;

}

.show{
  z-index: 10;

}

.show .go-top-button{
  animation: popup .3s ease-in-out;
  width: 6.6rem;
  height: 6.6rem;
  z-index: 11;
}

.show i{
  transform: translate(-50%, -50%) scale (1);

}
/*@keyframes{
  0%{
      width: 0rem;
      height: 0rem;

  }
  50%{
      width: 8rem;
      height: 8rem;
  }
  100%{
      width: 6.6rem;
      height: 6.6rem;
  }
}*/